* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #edf4f3;
}

.box {
  background-color: #fff;
  height: 240px;
  width: 633px;
  border-radius: 10px;
  box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.34);
  font-family: 'Roboto', sans-serif;
  margin: 20px auto;
}

#header {
  font-size: 16px;
}

p {
  font-weight: 300;
  font-size: 10px;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.form-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #edf4f3;
  height: 100px;
  width: 574px;
  margin: 0 auto;
  box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.34);
  padding: 10px;
}

i {
  color: #65d9b4;
}

h3 {
  font-size: 11px;
}

.ds {
  display: flex;
  flex-direction: row;
}
.pd {
  padding: 5px;
}

h3 + p {
  margin-top: 5px;
}
h1 + p {
  margin-top: 5px;
}

button {
  border-style: none;
  padding: 8px 30px;
  border-radius: 5px;
  background-color: #2ecf9a;
  color: white;
  font-size: 11px;
  box-shadow: 10px 10px 11px -8px rgba(0, 0, 0, 0.34);
}

form {
  margin-right: 10px;
}

select {
  padding: 5px 50px 5px 5px;
  border-radius: 5px;
  border-color: #e6e6e6;
  font-size: 11px;
}

@media screen and (max-width: 768px) {
  .box {
    width: 90%;
  }
  .bottom {
    width: 90%;
  }
  select {
    padding-right: 70px;
  }
}

@media (max-width: 690px) {
  form {
    margin: 0;
  }
  .box {
    height: 550px;
    width: 80%;
  }
  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  button {
    width: 200px;
  }
  .form-button {
    display: flex;
    flex-direction: column;
  }
  select {
    margin-bottom: 15px;
    width: 200px;
  }
  .content-text {
    margin-bottom: 15px;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    width: 196px;
    height: 274px;
  }
}
